body {
background-color: #62CC65;
font-family: 'Josefin Sans', sans-serif;

}

.nav-bar {
 margin-top:0;
 height: 50px;
 border-bottom: 5px solid white;
 background-color: #209820;
};

.title {
font-family: 'Josefin Sans', sans-serif;
font-size: 90;

}

.front-text {
 margin-top:14%;
 font-family: 'Josefin Sans', sans-serif;

}

.hidden {
 display: 'none';
 visibility: 'hidden';
}

.front {
 font-size: 20;
  font-family: 'Josefin Sans', sans-serif;
height: 46px;
margin:4px;
}
.slogan {
 font-size: 36;
}
